/* PasswordResetForm.module.css */

.container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg);
}

/* Heading */
.heading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--header-text);
  margin-bottom: 20px;
}

/* Form Styling */
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

/* Input Fields */
.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Active state for input fields */
.input:focus {
  border-color: var(--hover-button);
  outline: none;
  box-shadow: 0 0 5px rgba(126, 87, 194, 0.5);
}

/* Error State for Input Fields */
.inputError {
  border-color: var(--error-button) !important;
  background-color: rgba(217, 4, 41, 0.1);
}

/* Submit Button */
.button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background-color: var(--hover-button);
}

/* Error Message */
.errorMessage {
  color: var(--error-header-text);
  font-size: 0.9rem;
  margin-top: 10px;
}

/* User email display */
.userEmailDisplay {
  margin-bottom: 15px;
  font-size: 1rem;
  color: var(--header-text);
  text-align: center;
}